@use "../abstracts";

.navigation {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-top: 40px;
  ul {
    width: 310px;
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
    list-style-type: none;
    a {
      text-decoration: none;
      padding: 10px;
      
      li {
        color: abstracts.$color-primary;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          font-weight: 900;
        }
      }
    }

   
  }
}


.nav-active {
  position: relative;
  &::after {
    content: "";
    height: 4px;
    width: 0;
    background: abstracts.$color-primary;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;

    @-webkit-keyframes anim {
      to {
        width: 100%;
      }
    }
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}