@use "../abstracts";
.page-about{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  //align-items: center; 
  .main-about{
    flex-grow: 1;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1023px;
    display: flex;
    
    .accordion-about {
      margin-top: 50px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      
    }
  }
}


